body {
	font-family: verdana;
	font-size: 13px;
	color: #666;
}

h2 h4 {
	padding: 0px;
	margin: 0px;
	width: 100%;
	}
p {
	margin: 15px;
}

table {
	padding: 10px 0px 0px 10px; 
	border-collapse: collapse;
	margin: 10px;
	}

td {
	vertical-align: top;
	}
	
#head-container {	
	background-color: #F3F3f3;
	display: inline-flex;
	width: 970px; 
	}



#h1-name {
 	width: 485px;
 	padding-left: 10px;
	}

#h2-name {
	width: 100%;
	text-align: right;
	padding-right: 15px;
	}

.container-body {
	background: linear-gradient(#625262, #27191d);
	width: 970px;
	margin-top: -10px;
	padding-top: 10px;
	}

.header-overal {
	padding-left: 5px;
	margin: 0px 10px 0px 0px;
	background: linear-gradient(#898894, #A8A8AD, #898894);
	color: #fff;
	display: inline-block;
	width: 285px;
	position: relative;
	}


.container-three {
	background: linear-gradient(to right, #FFF, #D8CDD9);
	margin: 0px;
	padding:0px;
	max-width: 290px;
	}		

.images img {
	width: 290px;
	}

.firstheader {
	margin-left: 15px;
}

#aboutMe-text {
	width: 485px;
	}

#aboutMe-declaration {
	background-color: #f8f6f8;
	padding: 5px;
	margin-left: 15px;
	width: 410px;
	height: 260px;
	}

#aboutMe-declaration a {
	color: grey;
	padding-left: -20px;
}

#header-aboutMe {
	padding-left: 10px;
	margin: 0px 10px 0px 15px;
	background: linear-gradient(#c1c1c1, #999);
	color: #fff;
	display: inline-block;
	width: 410px;
	}

#aboutMe img {
	width: 485px;
	border: solid thick #999;
	}


.logos img {
	display: inline-block;
	width: 30px;
	margin: 10px;
	}

.button {
	text-align: center;
	border-color: black;
	border-style: solid;
	border-width:1px;
	background-color: green;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	color: #fff;
}


.contact img {
	display: inline-block;
	position: relative;
	width: 20px;
	}

.contact {
	text-decoration: underline;
}

.footer {
	background-color: #c1c1c1;
	text-align: center;
	padding: 5px 0px 5px 0px;
}